:root {
  font-size: 0.625em;
}
* {
  /*Really cool awesome function that takes your div tag sizes and actually makes a box around them*/
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin: auto;
  max-width: 60rem;
  color: #aed7e4;
  background: radial-gradient(
    /*I found the coolest thing!! you can make your background a frame!*/
    rgb(21, 3, 71) 89%,
    rgba(0, 0, 0) 100%
  );
}
header {
  text-align: center;
  margin-top: 3rem;
}
/*Sets the sizes for our HTML div tags*/
div {
  height: 2rem;
  width: 2rem;
}
/*Sets up upper case and fonts for the game. (I got this from W3schools FYI)*/
.t-ucase {
  text-transform: uppercase;
}
.t-big {
  font-size: 1.5em;
}
.t-wide {
  letter-spacing: 1.5rem;
}
.t-close {
  letter-spacing: 1rem;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.score-display {
  font-size: 5rem;
  color: rgb(133, 121, 107, 0.5);
}
.game-area {
  display: flex;
  justify-content: center;
}
.game {
  height: 0;
  width: 300px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20rem;
  height: 40rem;
}
.previous-shape {
  width: 10rem;
  padding-left: 2rem;
  margin-top: -5rem;
}
.previous-grid {
  display: flex;
  flex-wrap: wrap;
  width: 8rem;
  height: 8rem;
}
/*When the javascript goes to sellect a random shape it needs the image for the shape (These are all of the Tetris shapes [O shape, I shape, T shape etc...])*/
.block {
  background-image: url(../images/blue_block.png);
}

.block2 {
  background-image: url(../images/purple_block.png);
}

.block3 {
  background-image: url(../images/green_block.png);
}

.block4 {
  background-image: url(../images/navy_block.png);
}

.block5 {
  background-image: url(../images/pink_block.png);
}

.end {
  background-color: #d8edea;
}

.button {
  position: relative;
  width: 22rem;
  height: 2.2rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 23px;
  font-size: 10px;
  display: block;
  margin: 30px;
  text-shadow: -1px -1px 0 #41a863;
  background: #1a0868;
  border: 1px solid #15097e;
  width: 12rem;
  background-image: linear-gradient(to bottom, #4189e6, #4189e6);
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 4px 0 #0c0fc1,
    0 4px 2px rgba(0, 0, 0, 0.5);
}

.button:before {
  background: #f0f0f0;
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  position: absolute;
  content: "";
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -10px;
  z-index: -1;
}

.button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  top: 5px;
}

.button:active:before {
  top: -11px;
  bottom: -5px;
  content: "";
}

.button:hover {
  background: rgb(0,0,0);}

.end {
  background-image: url(/Users/limit/development/Tetris/images/blue_block.png);
}
/*Styles the grid and border for the game Tetris*/
.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 15rem;
  width: 17.5rem;
  height: 20rem;
  background: #0993d3;
  background-image: linear-gradient(#2dfff4, #1099d8);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}
/*Font for scoreboard*/
.score,
.lines-display {
  padding-top: 1rem;
  font-size: 1.2rem;
}







